.banner {
    .container {
        margin-top: 85px;
    }

    &__rect{
        margin-top: 235px;
    }


    &__column {
        display: flex;
        flex-direction: row;
    }

    
    .column {
        &__half-1 {
            width: 60%;
            //min-width: 980px;

            @media (width: $Desc) {
                width: 55%;
            }
        }

        &__half-2 {
           position: relative;
        }

        &__img{
            position: absolute;
            left: -167px;
            bottom: -470px;  
            z-index: -100;   
        }
    }

    .main {
		&__title {
            font-size: 146px;
            line-height: 80.5%;
            margin-bottom: 55px;
            @media (width: $Desc) {
                width: 1192px;


                font-size: 100px;
            }
		}
    }
}
