.because {

    .container {
    }

    &__elips{
        width: 36px;
        height: 36px;
        background-color: $red;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 40px;

        @media (max-width: $Desc) {
            width: 32px;
            height: 32px;
        }

        @media (max-width: $Tablet) {
            width: 28px;
            height: 28px;
            margin-right: 8px;
        }
    }

    &__row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 100px;
        width: 100%;
        flex-wrap: wrap;
    }
    &__list {
       display: flex;
       justify-content: space-between;
       
       flex-direction: row;

       margin-bottom: 81px;
        :last-child{
            margin: 0;
        }
        width: 100%;

        align-items: center;
        
    }

    .item{
        &__row{
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &__column{
            display: flex;
            flex-direction: column;

            p{
                max-width: 700px;
                margin-top: 0;
                text-align: left;
                font-style: normal;

                font-family: $fontMontserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 40px;
                line-height: 150%;
                border-bottom: 4px solid $red;

                @media (max-width: $Desc) {
                    font-size: 34px;
                    line-height: 150%;
                }

                @media (max-width: $Tablet) {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 150%;
                }
            }
        }
    }

    
    .main {
        &__subtitle {
            
            margin-top: 106px;
            text-align: center;
            font-style: normal;
            font-weight: 800;
            font-size: 66px;
            line-height: 80px;

            @media (max-width: $Desc) {
                font-size: 60px;
                line-height: 73px;
            }

            @media (max-width: $Tablet) {
                font-weight: 700;
                font-size: 34px;
                line-height: 150%;
            }
        }

        &__desc{
            margin-top: 30px;
            max-width: 1520px;

            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 59px;
            text-align: center;
            font-variant: small-caps;
            @media (max-width: $Desc) {
                font-size: 42px;
                line-height: 51px;
            }
            @media (max-width: $Tablet) {
                font-weight: 600;
                font-size: 24px;
                line-height: 130%;
            }
        }
    }

}
