.buttonBlock {

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 95px auto 95px auto;
    }

    &__img {
        &-right{

        }
        &-left{
           transform: rotate(-180deg); 

        }
    }

    
    .main {
        &__btn {
            width: 507px;
            height: 124px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;

            //padding: 40px 140px;

        }
    }
}
