.buttonBlock {

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 95px auto 95px auto;
    }

    // .buttonBlock__img

    &__img {
        &-right{

        }
        &-left{
           transform: rotate(-180deg); 
        }
    }

    
    .main {

        // .main__btn

        &__btn {
            max-width: 507px;
            max-height: 124px;

            padding: 40px 140px;
        }
    }
}
