.less {
    .container {
        margin-top: 215px;
        position: relative;
        @media (max-width: $Tablet) {
            margin-top: 130px;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__list-bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;

        @media (max-width: $Desc) {
            justify-content: space-between;
        }
        @media (max-width: $Tablet) {
            justify-content: space-between;
        }

        .less__item{
            margin-right: 155px;
            :last-child{
                margin: 0;
            }
            @media (max-width: $Desc) {
                margin: 0;
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        @media (max-width: $Tablet) {
            width: 355px;
        }
    }
    
    .item{
        &__abs{
            @media (max-width: $Desc) {
                position: absolute;
                top: -111px;
                right: 415px;
            }
            @media (max-width: $Tablet) {
                top: -86px;
                right: -50%;
                left: 27%;
            }
        }
    }

    .main {
        &__title {
            font-style: normal;
            font-weight: 400;
            font-size: 132.166px;
            line-height: 153px;

            text-align: center;
            letter-spacing: 0.05em;

            margin-right: 40px;

            @media (max-width: $Desc) {
                font-size: 100px;
                line-height: 116px;
            }
            @media (max-width: $Tablet) {
                font-size: 80px;
                line-height: 92px;
                margin-right: 10px;
            }
        }

        &__subtitle {
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 150%;
            border-bottom: 4px solid $red;

            @media (max-width: $Desc) {
                font-size: 34px;
                line-height: 150%;
            }
            @media (max-width: $Tablet) {
                font-weight: 600;
                font-size: 24px;
                line-height: 130%;
                max-width: 265px;
            }
        }
    }
}