.most {
    .container {
        margin-top: 221px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .imgBG1{
        position: absolute;
        bottom: 258px;
        left: -160px;
        opacity: 0.5;
    }

    .imgBG2{
        position: absolute;
        top: -213px;
        right: -185px;
        opacity: 0.5;
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        :last-child{
            margin: 0;
        }

        @media (max-width: $Desc) {
            margin-top: 35px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
        max-width: 1336px;
    }

    &__img {
        margin-bottom: 40px;
    }

    .main {
        &__subtitle {
            font-style: normal;
            font-weight: 600;
            font-size: 60px;
            line-height: 73px;
            letter-spacing: 0.1em;
            text-transform: capitalize;

            @media (max-width: $Desc) {
                font-size: 54px;
                line-height: 66px;
            }
        }

        &__desc {
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 116%;

            text-align: center;
            font-variant: small-caps;

            align-items: center;

            font-size: 34px;
            line-height: 116%;
        }
    }
}