.result {
    .container {
        margin-top: 215px;

        position: relative;
    }

    .imgBG1{
        position: absolute;
        bottom: 329px;
        left: -163px;
        opacity: 0.1;
    }

    .imgBG2{
        position: absolute;
        top: -171px;
        right: -185px;
        opacity: 0.1;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 160px;
        @media (max-width: $Desc) {
            margin-top: 80px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-center{
            @media (max-width: $Desc) {
                //margin-top: 80px;
            }
        }
        @media (max-width: $Desc) {
            margin-top: 300px;
        }

    }

    &__img {
        margin-bottom: 16px;
    }

    .main {

        &__subtitle {
            font-style: normal;
            font-weight: 600;
            font-size: 60px;
            line-height: 73px;
            letter-spacing: 0.1em;
            text-transform: capitalize;
            text-align: center;

            @media (max-width: $Desc) {
                font-size: 54px;
                line-height: 66px;
            }
        }

        &__desc {
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 126%;
            text-align: center;

            max-width: 490px;
        }
    }

}
