.result {
    .container {
        margin-top: 215px;

        position: relative;
    }

    .imgBG1{
        position: absolute;
        bottom: 329px;
        left: -163px;
        opacity: 0.1;
    }

    .imgBG2{
        position: absolute;
        top: -171px;
        right: -185px;
        opacity: 0.1;
    }

    // .result__list

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 160px;
    }

    // .result__item

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .result__img

    &__img {
        margin-bottom: 16px;
    }

    // .result__text

    &__text {
    }


    .main {

        // .main__subtitle

        &__subtitle {
            font-style: normal;
            font-weight: 600;
            font-size: 60px;
            line-height: 73px;
            letter-spacing: 0.1em;
            text-transform: capitalize;
            text-align: center;
        }

        // .main__desc

        &__desc {
            ont-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 126%;
            /* or 38px */

            text-align: center;

            max-width: 490px;
        }
    }

}
