.rewiew {
    .container {
        margin-top: 250px;
        @media (max-width: $Desc) {
            margin-top: 117px;
        }
    }

    &__img{
        width: 470px;
        height: 830px;
        margin: 35px 100px;
    }
    .main {

        &__subtitle {
            font-style: normal;
            font-weight: 600;
            font-size: 60px;
            line-height: 73px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: capitalize;

            display: flex;
            align-items: center;
            justify-content: center;
            
        }
    }

}

