.teacher {
    .container {
        margin-top: 150px;
    }

    .elips{
        width: 908px;
        height: 908px;

        position: absolute;
        bottom: -34px;
        right: -183px;

        background: rgba(217, 217, 217, 0.3);

        filter: blur(250px);

    }

    &__card {
        background: rgba(55, 55, 55, 0.6);
        border: 5px solid rgba(220, 63, 49, 0.7);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 56px;

        width: 1436px;
        height: 946px;
        align-items: center;
        display: flex;
        padding-left: 35px;

        position: relative;
        z-index: 100;

        overflow: hidden;

        @media (max-width: $Tablet) {
            width: 647px;
            height: 426px;
        }
    }

    &__img1{
        background-image: url("/src/img/teacher1.png");
        background-repeat: no-repeat;
        position: absolute;
        z-index: 10;
        bottom: -121px;
        right: -149px;
        width: 747px;
        height: 933px;
        &-last{
            @media (max-width: $Desc) {
                right: -70px;
            }
        }
        @media (max-width: $Tablet) {
            background-image: url("/src/img/teacher1_768.png");
            height: 380.8205261230469px;
            width: 304.8589782714844px;
            bottom: -3px;
            right: -35px;
        }
    }
    &__img2{
        background-image: url("/src/img/teacher2.png");
        background-repeat: no-repeat;
        position: absolute;
        z-index: 10;
        bottom: -439px;
        right: -309px;
        width: 1091px;
        height: 1364px;
        &-last{
            @media (max-width: $Desc) {
                right: -70px;
            }
        }
        @media (max-width: $Tablet) {
            background-image: url("/src/img/teacher2_768.png");
            height: 380.8205261230469px;
            width: 304.8589782714844px;
            bottom: -2px;
            right: -2px;
        }
    }
    &__img3{
        background-image: url("/src/img/teacher3.png");
        background-repeat: no-repeat;
        position: absolute;
        z-index: 10;
        bottom: -7px;
        right: -61px;
        width: 716.21px;
        height: 895px;

        @media (max-width: $Desc) {
            right: -101px;;
        }
        @media (max-width: $Tablet) {
            background-image: url("/src/img/teacher3_768.png");
            height: 380.8205261230469px;
            width: 304.8589782714844px;
            bottom: -3px;
            right: -31px;
        }
    }

    .card{
        &__text{
            max-width: 950px;
            position: absolute;
            top: 20%;
            margin: 0 0 0 0;
            @media (max-width: $Tablet) {
                max-width: 430px;
            }
        }
    }
    
    .main {
        &__title {
            font-style: normal;
            font-weight: 400;
            font-size: 98px;
            line-height: 96%;

            display: flex;
            align-items: center;
            font-feature-settings: 'kern' off;

            color: #FFFFFF;

            text-shadow: 0px 0px 80px rgba(0, 0, 0, 0.4);
            @media (max-width: $Tablet) {
                font-weight: 400;
                font-size: 52px;
                line-height: 80.5%;
            }
        }

        &__subtitle {
            font-style: normal;
            font-weight: 500;
            font-size: 46px;
            line-height: 144%;

            margin-top: 60px;
            text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
            z-index: 10000;
            position: relative;

            @media (max-width: $Desc) {
                font-size: 42px;
                max-width: 788px;
            }
            @media (max-width: $Tablet) {
                font-size: 20px;
                line-height: 150%;
                margin-top: 5px;
                max-width: 332px;
            }
        }
    }
}
