.because{
    .container {
        margin-top: 106px;
        @media (max-width: $Mobile) {
            margin-top: 24px;
        }
        @media (max-width: $Mobile) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
    &__elips{
        width: 36px;
        height: 36px;
        background-color: $red;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 40px;

        @media (max-width: $Desc) {
            width: 32px;
            height: 32px;
        }
        @media (max-width: $Tablet) {
            width: 28px;
            height: 28px;
            margin-right: 8px;
        }
        @media (max-width: $Mobile) {
            width: 14px;
            height: 14px;
        }
    }

    &__row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 100px;
        width: 100%;
        flex-wrap: wrap;
        @media (max-width: $Mobile) {
            flex-direction: column;
            margin-top: 15px;
            width: 146px;
        }
    }
    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-bottom: 81px;

        :last-child{
            margin: 0;
        }
        @media (min-width: $Mobile) {
            :last-child{
                margin: 0;
            }
        }
        @media (max-width: $Mobile) {
            flex-direction: column;
            margin-bottom: 0;
            justify-content: center;
            align-items: center;
        }
    }

    &__item{
        
        @media (max-width: $Mobile) {
            margin-bottom: 15px;
            width: 145px;
        }
    }
    .item{
        &__row{
            display: flex;
            flex-direction: row;
            align-items: center;
            @media (max-width: $Mobile) {
                margin-bottom: 15px;
                width: 145px;
            }
        }

        &__column{
            display: flex;
            flex-direction: column;

            p{
                max-width: 700px;
                margin-top: 0;
                text-align: left;
                font-style: normal;
                font-family: $fontMontserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 40px;
                line-height: 150%;
                border-bottom: 4px solid $red;

                @media (max-width: $Desc) {
                    font-size: 34px;
                    line-height: 150%;
                }
                @media (max-width: $Tablet) {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 150%;
                }
                @media (max-width: $Mobile) {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 150%;
                }
            }
        }
    }
    
    .main {
        &__subtitle {
            text-align: center;
            font-style: normal;
            font-weight: 800;
            font-size: 66px;
            line-height: 80px;

            @media (max-width: $Desc) {
                font-size: 60px;
                line-height: 73px;
            }
            @media (max-width: $Tablet) {
                font-weight: 700;
                font-size: 34px;
                line-height: 150%;
            }
            @media (max-width: $Mobile) {
                font-weight: 700;
                font-size: 18px;
                line-height: 150%;
            }
        }

        &__desc{
            margin-top: 30px;
            max-width: 1520px;
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 59px;
            text-align: center;
            font-variant: small-caps;
            @media (max-width: $Desc) {
                font-size: 42px;
                line-height: 51px;
            }
            @media (max-width: $Tablet) {
                font-weight: 600;
                font-size: 24px;
                line-height: 130%;
            }
            @media (max-width: $Mobile) {
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                margin-top: 0px;
            }
        }
    }
}
