.buttonBlock {

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 95px auto 95px auto;
        z-index: 1000;
        position: relative;

        @media (max-width: $Mobile) {
            margin: 49px auto 49px auto;
        }
    }

    &__img {
        &-right{
            img{
                @media (max-width: $Tablet) {
                    width: 200px;
                }
            }
        }
        &-left{
            transform: rotate(-180deg); 
            img{
                @media (max-width: $Tablet) {
                    width: 200px;
                }
            }
        }
    }
    
    .main {
        &__btn {
            width: 507px;
            height: 124px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;

            //padding: 40px 140px;

            @media (max-width: $Tablet) {
                width: 277px;
                height: 72px;
            }
            @media (max-width: $Mobile) {
                //max-width: 92px;
                //max-height: 12px;
                padding: 9px 8px;
            }
        }
    }
}