.most {
    .container {
        margin-top: 221px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        @media (max-width: $Tablet) {
            margin-top: 70px;
        }
        @media (max-width: $Mobile) {
            margin-top: 35px;
        }
    }

    .imgBG1{
        position: absolute;
        bottom: 258px;
        left: -160px;
        opacity: 0.5;
    }
    .imgBG2{
        position: absolute;
        top: -213px;
        right: -185px;
        opacity: 0.5;
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        :last-child{
            margin: 0;
        }

        @media (max-width: $Desc) {
            margin-top: 35px;
        }
        @media (max-width: $Tablet) {
            margin-top: 15px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
        max-width: 1336px;
        @media (max-width: $Tablet) {
            margin-bottom: 20px;
        }
        @media (max-width: $Mobile) {
            margin-bottom: 10px;
        }
    }

    &__img {
        margin-bottom: 40px;
        @media (max-width: $Tablet) {
            margin-bottom: 3px;
        }
        img{
            @media (max-width: $Mobile) {
                width: 255px;
                height: 170px;
            }
        }
    }

    .main {
        &__subtitle {
            font-style: normal;
            font-weight: 600;
            font-size: 60px;
            line-height: 73px;
            letter-spacing: 0.1em;
            text-transform: capitalize;

            @media (max-width: $Desc) {
                font-size: 54px;
                line-height: 66px;
            }
            @media (max-width: $Tablet) {
                font-weight: 700;
                font-size: 34px;
                line-height: 150%;
            }
            @media (max-width: $Mobile) {
                font-weight: 700;
                font-size: 18px;
                line-height: 150%;
            }
        }

        &__desc {
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 116%;
            text-align: center;
            font-variant: small-caps;
            align-items: center;
            font-size: 34px;
            line-height: 116%;
            @media (max-width: $Tablet) {
                font-size: 20px;
                line-height: 150%;
            }
            @media (max-width: $Mobile) {
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
            }
        }
    }
}