.teacher {
    .slider2{      
        @media (max-width: $Mobile) {
            width: 320px;
            margin: 0 5px;
            margin-left: -2px;
        }
    }
    .container {
        margin-top: 150px;
        @media (max-width: $Mobile) {
            margin: 21px auto 0 auto;
        }
        @media (max-width: 350px) {
            margin: 21px 0 0 0;
        }
    }

    .elips{
        width: 908px;
        height: 908px;
        position: absolute;
        bottom: -34px;
        right: -183px;
        background: rgba(217, 217, 217, 0.3);

        filter: blur(250px);
        @media (max-width: $Mobile) {
            display: none;
        }
    }

    &__card {
        background: rgba(55, 55, 55, 0.6);
        border: 5px solid rgba(220, 63, 49, 0.7);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 56px;
        width: 1436px;
        height: 946px;
        align-items: center;
        display: flex;
        padding-left: 35px;
        position: relative;
        z-index: 100;
        overflow: hidden;

        @media (max-width: $Tablet) {
            width: 647px;
            height: 426px;
        }
        @media (max-width: $Mobile) {
            width: 320px;
            height: 568px !important;
            padding-left: 10px;
        }
    }

    &__img{
        position: absolute;
        z-index: 10;
        bottom: 0px;
        right: 0px;

        @media (max-width: $Tablet) {
            display: none;
        }
        &-mini{
            position: absolute;
            z-index: 10;
            bottom: 0px;
            right: 0px;
            @media (min-width: $Tablet) {
                display: none;
            }
        }
    }
    .card{
        &__text{
            max-width: 950px;
            position: absolute;
            top: 20%;
            margin: 0 0 0 0;
            @media (max-width: $Tablet) {
                max-width: 430px;
            }
            @media (max-width: $Mobile) {
                max-width: 300px;
                top: 35px;
            }
        }
    }    
    .main {
        &__title {
            font-style: normal;
            font-weight: 400;
            font-size: 98px;
            line-height: 96%;
            display: flex;
            align-items: center;
            font-feature-settings: 'kern' off;
            color: #FFFFFF;
            text-shadow: 0px 0px 80px rgba(0, 0, 0, 0.4);

            @media (max-width: $Tablet) {
                font-weight: 400;
                font-size: 52px;
                line-height: 80.5%;
            }
            @media (max-width: $Mobile) {
                font-weight: 400;
                font-size: 38px;
                line-height: 80.5%;
            }
        }

        &__subtitle {
            font-style: normal;
            font-weight: 500;
            font-size: 46px;
            line-height: 144%;
            margin-top: 60px;
            text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
            z-index: 10000;
            position: relative;

            @media (max-width: $Desc) {
                font-size: 42px;
                max-width: 788px;
            }
            @media (max-width: $Tablet) {
                font-size: 20px;
                line-height: 150%;
                margin-top: 5px;
                max-width: 332px;
            }
            @media (max-width: $Mobile) {
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                max-width: 270px;
            }
        }
    }
}
