.why {
    .container {
        margin-top: 115px;
        position: relative;
        @media (max-width: $Tablet) {
            margin-top: 40px;
        }
    }

    .imgBG1{
        position: absolute;
        bottom: -370px;
        left: -160px;
        opacity: 0.1;
        @media (max-width: $Mobile) {
            display: none;
        }
    }
    .imgBG2{
        position: absolute;
        top: -68px;
        right: -314px;
        opacity: 0.1;
        z-index: -10;
        @media (max-width: $Mobile) {
            display: none;
        }
    }

    &__list {
        margin-top: 140px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-height: 260px;
        &-bottom{
            max-height: 260px;
            margin-top: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media (max-width: $Tablet) {
                display: none;
            }
        }
        @media (max-width: $Tablet) {
            display: none;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 555px;
        max-height: 260px;
        padding: 50px 48px;
        background: rgba(55, 55, 55, 0.6);
        border: 5px solid rgba(220, 63, 49, 0.7);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 56px;
    }

    &__img {
        margin-right: 32px;
    }

    .main {
        &__subtitle {
            font-family: $fontMontserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 60px;
            line-height: 73px;
            letter-spacing: 0.1em;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: $Desc) {
                font-size: 54px;
                line-height: 66px;
            }
            @media (max-width: $Tablet) {
                font-weight: 700;
                font-size: 34px;
                line-height: 150%;
            }
            @media (max-width: $Mobile) {
                font-weight: 700;
                font-size: 18px;
                line-height: 150%;
            }
        }

        &__desc {
            font-style: normal;
            font-weight: 400;
            font-size: 33px;
            line-height: 40px;
            display: flex;
            align-items: flex-end;
            letter-spacing: -0.5px;
            @media (max-width: $Mobile) {
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                width: 190px;
            }
        }
    }
}

.why__slider{
    @media (max-width: $bigDesc) {
        display: none;
    }
    @media (max-width: $Tablet) {
        display: block;
    }
    .why{
        &__item{
            width: 655px;
            height: 260px;
            margin: 0px 35px 0px 35px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            @media (max-width: $Mobile) {
                width: 300px;
                height: 180px;
                margin: 0;
                padding: 15px 23px;
            }
        }
        &__img{
            @media (max-width: $Mobile) {
                margin-right: 12px;
            }
            img{
                @media (max-width: $Mobile) {
                    width: 64px;
                    height: 64px;
                    margin-right: 12px;
                }
            }
        }
    }
}