.single-lesson {
    iframe{
        width: 100%;
        height: 100%;
        border-radius: 24px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        margin: 40px auto;
        @media (max-width: $Tablet) {
            margin: 20px auto;
        }
    }

    &__bgimg1{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -100;
        @media (max-width: $Tablet) {
            opacity: 0.1;
        }
        img{
            @media (max-width: $Tablet) {
                width: 50%;
                height: 50%;
            }
        }
    }
    &__bgimg2{
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: -100;
        @media (max-width: $Tablet) {
            opacity: 0.1;
            right: -315px;
        }
        img{
            @media (max-width: $Tablet) {
                width: 40%;
                height: 40%;
            }
        }
    }

    &__block-repeat {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px 0px;
        @media (max-width: $Tablet) {
            margin: 20px 0;
        }
    }

    &__video {
        margin: 40px 0;
        @media (max-width: $Tablet) {
            margin: 20px 0;
        }
    }

    &__video {
        width: 100%;
        height: 400px;
    }
    .main {
        &__desc {
            max-width: 700px;
        }
    }
}