.main{
    &__btn{
        background-color: $red;
        color: $white;
        padding: 30px 72px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        border-radius: 24px;
        cursor: pointer;
        font-family: $fontMontserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 43px;

        &:hover{
            background-color: $darkRed;
            animation: scale 1s forwards;
        }

        @media (max-width: $Tablet) {
            width: 398px;
            height: 72px;
            font-weight: 600;
            font-size: 28px;
            line-height: 12px;
            padding: 19px 25px;
            white-space: nowrap;
        }
        @media (max-width: $Mobile) {
            max-width: 193px;
            max-height: 36px;
            font-size: 14px;
            line-height: 12px;
            letter-spacing: 0.02em;
            padding: 12px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.input{
    &__file-button {
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        height: 61px;
        border-radius: 24px;
        
        @media (max-width: $Desc) {
            max-width: 366px;
            min-width: 366px;
        }
        @media (max-width: $Tablet) {
            max-width: 121px;
            max-width: 121px;
        }
        @media (max-width: $Mobile) {
            min-width: 136px;
        }
    }
}