@font-face{
    font-family:"Montserrat";
    src: url("../src/fonts/Montserrat-Black.otf");
    font-weight: 900;
    font-style: normal;
    font-display:swap;
}
@font-face{
    font-family:"Montserrat";
    src: url("../src/fonts/Montserrat-Bold.otf");
    font-weight: 700;
    font-style: normal;
    font-display:swap;
}
@font-face{
    font-family:"Montserrat";
    src: url("../src/fonts/Montserrat-Regular.otf");
    font-weight: 400;
    font-style: normal;
    font-display:swap;
}
@font-face{
    font-family:"Oranienbaum";
    src: url("../src/fonts/Oranienbaum-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display:swap;
}