.header {
    .container {
        display: flex;  
        flex-direction: row;
        width: 100%;
        position: relative;
    }

    .imgBG1{
        position: absolute;
        bottom: -1032px;
        left: -183px;
        z-index: -10000;
        opacity: 0.8;
        transform: rotate(-1.37deg);

        @media (width: $Desc) {
            bottom: -1032px;
            left: -183px;
        }
        @media (max-width: $Tablet) {
            top: 179px;
            left: -127px;
            opacity: 0.4;
        }
    }

    .imgBG2{
        position: absolute;
        bottom: -1204px;
        right: -155px;
        z-index: -10000;
        opacity: 0.5;
        transform: rotate(0deg);  

        @media (width: $Desc) {
            bottom: -1204px;
            right: -155px;
        }
        @media (max-width: $Tablet) {
            right: -103px;
            top: -35.6px;
        }
        img{
            @media (max-width: $Tablet) {
                width: 579.5px;
                height: 545.65px;
            }
        }
        
        @media (max-width: $Mobile) {
            right: -107px;
            top: -35.6px;
            opacity: 0.4;
        }
    }

    .elips{
        width: 900px;
        height: 900px;
        background: rgba(217, 217, 217, 0.16);
        filter: blur(250px);
        position: absolute;
        right: -142px;
        bottom: -953px;
        z-index: -100;

        @media (max-width: $Tablet) {
            width: 440px;
            height: 440px;
            right: -142px;
            top: 86px;
        }
        @media (max-width: $Mobile) {
            display: none;
        }
    }

    .nav {
        &__row {
            display: flex;
            flex-direction: row;
            margin: 20px 0 0 0;
            width: 100%;
        }

        &__list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 1590px;
            
            @media (width: $Desc) {
                width: 1192px;
            }
            @media (max-width: $Tablet) {
                max-width: 634px;
            }
            @media (max-width: $Mobile) {
                max-width: 293px;
                align-items: center;
            }
            img{
                width: 302px;
                @media (max-width: $Tablet) {
                    width: 160px;
                }
            }
        }

        &__item {
            display: flex;
            flex-direction: row;
            align-items: start;
            &:first-child{
                margin-top: 55px;
                margin-right: 50px;
            }
            &:nth-child(3){
                margin-top: 55px;
                margin-left: 50px;
            }
            &-lang{

            }
        }

        .lang{
            position: absolute;
            top: 20px;
            right: 0px;
            .dropdown {
                position: relative;
                display: inline-block;
                .dropdown-toggle {
                    width: 100px;
                    height: 40px;
                    background: rgba(55, 55, 55, 0.6);
                    border: 5px solid rgba(220, 63, 49, 0.3);
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                    border-radius: 56px;
                    cursor: pointer;
                    color: $white;
                }
                
                .dropdown-toggle:hover {
                    background: rgba(55, 55, 55, 0.6);
                }
                
                .dropdown-menu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    min-width: 160px;
                    background: rgba(55, 55, 55, 0.6);
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                    border-radius: 56px;
                    padding: 8px 0;
                    display: none;
                    color: $white;
                }
                
                &:hover .dropdown-menu {
                    display: block;
                }

                .dropdown-menu{
                    width: 200px;
                    padding: 20px;
                    ul{
                        max-width: 508px;
                        width: 100%;
                        li{
                            background: rgba(55, 55, 55, 0.6);
                            border: 5px solid rgba(220, 63, 49, 0.3);
                            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                            border-radius: 56px;
                            margin-bottom: 30px;
        
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:last-child{
                                margin: 0px 0px 0px 0px;
                            }
                            a{
                                color: $white;
                                font-family: $fontMontserrat;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 24px;
                                line-height: 150%;
                                @media (max-width: $Mobile) {
                                    font-weight: 400;
                                    font-size: 9px;
                                    line-height: 11px;
                                }
                            }
                        }
                    }
                }
                
                .dropdown-item {
                    display: block;
                    padding: 8px 16px;
                    text-decoration: none;
                    background: rgba(55, 55, 55, 0.6);
                }
                .dropdown-item:hover {
                    background: rgba(220, 63, 49, 0.3);
                }  
            } 
        }

        &__text-column {
            display: flex;
            flex-direction: column;
            margin: 15px 0 0 15px;
            @media (max-width: $Mobile) {
                margin: 5px 0 0 2px;
            }
        }

        &__logo {
            display: block;
            img{
                width: 302px;
                @media (max-width: $Tablet) {
                    width: 160px;
                }
                @media (max-width: $Mobile) {
                    width: 70px;
                }
            }
        }
    }

    .main {
        &__title {
            font-family: $fontOranienbaum;
            font-style: normal;
            font-weight: 400;
            font-size: 100px;
            line-height: 116px;
            color: #FFFFFF;
            @media (max-width: $Tablet) {
                font-size: 80px;
                line-height: 92px;
            }
            @media (max-width: $Mobile) {
                font-size: 36px;
                line-height: 42px;
            }
        }

        &__subtitle {
            font-family: $fontMontserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 35px;
            line-height: 43px;
            text-transform: uppercase;
            @media (max-width: $Mobile) {
                font-size: 16px;
                line-height: 20px;
            }
        }

        &__desc{
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            @media (max-width: $Mobile) {
                font-size: 9px;
                line-height: 11px;
            }
        }
    }
}