
$font-size-title: 146px;
$font-size-subTitle: 60px;
$font-size-desc: 24px;

$bigDesc: 2560px;
$Desc: 1440px;
$mobile-menu-breakpoint: '990px';

//$Tablet: 768px;
$Tablet: 1050px;
$Mobile: 600px;

/*
@media (max-width: $bigDesc) {

}
@media (max-width: $Desc) {

}
@media (max-width: $Tablet) {

}
@media (max-width: $Mobile) {

}
*/

/*--fonts*/
$fontMontserrat: "Montserrat";
$fontOranienbaum: "Oranienbaum";


/*--color--*/
$black: #000000;
$white: #fff;
$bgColor: #373737;
$red: #DC3F31;
$darkRed: #DC2F1F;





